#rows{

margin-top: 100px;


}

    
#rowser{

    margin-top: 100px;
    
}

#formular{


    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
legend{

    font-family: 'Indie Flower', cursive;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

label{

    font-family: 'Josefin Sans', sans-serif;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    
}

h1{

    font-family: 'Indie Flower', cursive;
    border: red dotted;
}

span{

    font-size: 50px;

}

button{

background-color: #ff002b;
color: #ffff;


}




