#rows{

margin-top: 100px;


}



#formular{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
legend{

    font-family: 'Indie Flower', cursive;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

label{

    font-family: 'Josefin Sans', sans-serif;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    
}

button{

background-color: #ff002b;
color: #ffff;


}

#impressum{

margin-top:100px;
    margin-left:300px;
    margin-right: 300px;

}
h1{
    margin-left: 380px;
    margin-top: -10px;
    width: 420px;
    font-size: 40px;
    color: #434758;
    font-family: 'Josefin Sans', sans-serif;
    border: 4px dotted #ff002b;
}