#rows{

margin-top: 100px;


}

#rows2{

    margin-top: 100px;
    
    
    }
    
#rowser{

    margin-top: 100px;
    
}

#formular{


    margin-top: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
legend{

    font-family: 'Indie Flower', cursive;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

label{

    font-family: 'Josefin Sans', sans-serif;
}

li{
    font-family: 'Josefin Sans', sans-serif;
    
}

button{

background-color: #ff002b;
color: #ffff;


}

#impressum{

margin-top:100px;
    margin-left:300px;
    margin-right: 300px;

}

p{

    font-size: 20px;

}

h1{
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
}

.container{

    margin-top: 70px;

}

#price{

    margin-top:30px;
    font-size: 40px;

}


